<div class="container" style="margin-top:50px;">
    <div class="row">
        <div>
            <h5 class="text-light bg-info">パスワード変更</h5>
        </div>
    </div>
    <%= form_for(resource, as: resource_name, url: members_passwords_update_path, html: { method: :patch }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
   <!-- <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for:
        <%= resource.unconfirmed_email %>
    </div>
    <% end %>-->
    <div class="field">
        <%= f.label :password,"新しいパスワード" %>
        <% if @minimum_password_length %>
        <span>(
            <%= @minimum_password_length %>文字以上)</span>
        <% end %><br>
        <%= f.password_field :password, autocomplete: "new-password",style:"border-radius: 0.2em" %>
    </div>
    <div class="field">
        <%= f.label :password_confirmation,"新しいパスワード(確認用)",class: "mt-3" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,style:"border-radius: 0.2em"%>
    </div>
    <div class="field">
        <%= f.label :current_password,"現在のパスワード",class: "mt-3" %><br />
        <%= f.password_field :current_password, autocomplete: "current-password",style:"border-radius: 0.2em" %>
    </div>
    <div class="actions">
        <%= f.submit "更新する" ,class:"btn-sm btn-primary mt-3"%>
    </div>
    <% end %>
<!--    <h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->
    <%= link_to "マイページに戻る>", members_member_path %>
</div>