<div class="container" style="margin:1vw 50px 0;">
    <div class="row">
        <div class="col-5 text-center">
            <p>
                <%= flash[:notice] %>
            </p>
            <h5 class="bg-info text-white rounded p-1 mt-5">ジャンル編集</h5>
        </div>
    </div>
</div>
<div class="conteiner" style="margin:4vw 50px 0;">
    <div class="row justify-content-left mt-4">
        <div class="col-8">
            <div class="genre_new">
                <%= form_for(@genre,url: admins_genre_path(@genre)) do |f| %>
                <%= f.label :name,"ジャンル" %>
                <%= f.text_field :name, autocomplete: "名称" %>
                <%= f.radio_button :valid_invalid, "Validity", {checked: true} %>有効
                <%= f.radio_button :valid_invalid, "Invalid", {} %>無効<br>
                <%= f.label :genre_image,"アイコン" %>
                <%= attachment_image_tag(@genre, :genre_image, :size =>'35x35', id: :img_prev) %>
                <%= f.attachment_field :genre_image %>
                <p class="m-0">※拡張子は.pngファイルで保存してください。</p>
                <p>※画像名は[ジャンル名.png]としてください。
                    <span class="text-right">
                        <%= f.submit "変更を保存する", class: "btn-primary ml-5",style:"border-radius: 0.3em" %>
                    </span></p>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!--画像投稿のプレビュー表示-->
<script type="text/javascript">
$(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#img_prev').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#product_product_image").change(function() {
        readURL(this);
    });
});
</script>