<div class="conteiner">
	<div class="row justify-content-center mt-4">
		<div class="col-5 text-center">
		<h5>ジャンル一覧・追加</h5>
		</div>
	</div>

	<div class="row justify-content-center mt-4">
		<div class="col-5">

			<div class="genre_new">
				<%= form_for(@genre,url: admins_genres_path) do |f| %>

				<% f.label :name %>
				<% f.text_field :name, autocomplete: "名称" %>

				<%= f.radio_button :genre, 0, {checked: true} %>有効
    			<%= f.radio_button :genre, 1, {} %>無効

    		</div><br/>


    		<tabele class="genre_index">
    	<thead>
			<tr>
				<th>ジャンル</th>
				<th>状態</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% genres.each do |genre| %>
			<tr>
				<td><%= genre. %></td>
				<td><%= link_to member.last_name, admins_members_show_path %></td>
				<td><%= member.email %></td>
				<td><%= member.deleted_status %></td>
			</tr>
			<% end %>
		</tbody>






