<div class="container">
  <div class="row mt-3">
    <div class="col-xs-3">
      <%= render partial: 'layouts/genres_sidebar' %>
    </div>
    <div class="col-xs-9 ml-5">
      <h2><%= @products.genres.name %><%= " (全#{@products.count}件)" %></h2>
      <% @products.each do |products| %>
      <%= attachment_image_tag(products, :product_image, :fill, 100, 100) %>
      <%= products.product_name %>
      <%= "¥#{products.price_excluding_tax}" %>
    </div>
  </div>
</div>
