<!-- 計算 -->
<% total = 0 %>
<% shipping_free = 800 %>
<% @cart_items.each do |item| %>
  <% total += (item.product.price_excluding_tax * item.number_of_products * 1.1).to_i %>
<% end %>
<% billing_amount = shipping_free + total %>

<div class="container">
  <% if @order.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <p>未入力が <%= pluralize(@order.errors.count,'件')%>ありました。</p>
    </div>
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <h2 class='mt-5'>注文情報確認</h2>
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th><th>単価(税込み)</th><th>数量</th><th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% current_member.cart_items.each do |cart_items| %>
          <tr>
            <td>
              <%= cart_items.product.product_name %>
            </td>
            <td>
              <%= (cart_items.product.price_excluding_tax * 1.1).to_i %>
            </td>
            <td>
              <%= cart_items.number_of_products %>
            </td>
            <td>
              <%= cart_items.subtotal  %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class='table-bordered'>
        <% shipping_free = 800 %>
        <thead>
          <tr>
            <th>送料</th><th><%= shipping_free %></th>
          </tr>
          <tr>
            <th>商品合計</th><th><%= total %></th>
          </tr>
          <tr>
            <th>請求金額</th><th><%= billing_amount %></th>
          </tr>
        </thead>

      </table>
    </div>
  </div>
  <div class="mt-5 mb-3">
    <h3>お支払い方法</h3><%= @method_of_payment %>
    <h3>お届け先</h3><%= @order_postal_code %> <%= @order_address %><br><%= @order_address_name %>
  </div>

  <%= form_for(@order, url: members_orders_path, method: :post) do |f| %>
    <%= hidden_field_tag :address_status, @address_status %>
    <%= f.hidden_field :confirmed_purchase_price, :value => billing_amount %>
    <%= f.hidden_field :method_of_payment, :value => @method_of_payment %>
    <%= f.hidden_field :postal_code, :value => @order_postal_code %>
    <%= f.hidden_field :address, :value => @order_address %>
    <%= f.hidden_field :address_name, :value => @order_address_name %>
    <%= f.submit "購入確定",class: 'btn btn-success' %>
  <% end %>

</div>
