<!-- 計算 -->
<% total = 0 %>
<% shipping_free = 800 %>
<% @cart_items.each do |item| %>
  <% total += (item.product.price_excluding_tax * item.number_of_products * 1.1).to_i %>
<% end %>
<% billing_amount = shipping_free + total %>

<div class="container">
  <% if @order.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <p>未入力が <%= pluralize(@order.errors.count,'件')%>ありました。</p>
    </div>
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <h3 class='col-4 mt-5 bg-info rounded text-center text-white'>注文情報確認</h3>
  <div class="row">
    <div class="col-8 mt-2">
      <table class="table">
        <thead class="bg-info">
          <tr>
            <th>商品名</th><th>単価(税込み)</th><th>数量</th><th>小計</th>
          </tr>
        </thead>
        <tbody class="bg-light">
          <% current_member.cart_items.each do |cart_items| %>
          <tr>
            <td>
              <%= attachment_image_tag(cart_items.product,:product_image, size: '120x60',class: "img-thumbnail mr-3") %>
              <%= cart_items.product.product_name %>
              </td>
            <td>
              <%= (cart_items.product.price_excluding_tax * 1.1).to_i %> 円
            </td>
            <td>
              <%= cart_items.number_of_products %> 個
            </td>
            <td>
              <%= cart_items.subtotal  %> 円
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <table class='col-3 table-bordered text-center mt-2'>
        <% shipping_free = 800 %>
          <tr>
            <th class="bg-info">送料</th><td class="bg-light"><%= shipping_free %> 円</td>
          </tr>
          <tr>
            <th class="bg-info">商品合計</th><td class="bg-light"><%= total %> 円</td>
          </tr>
          <tr>
            <th class="bg-info">請求金額</th><td class="bg-light"><%= billing_amount %> 円</td>
          </tr>
    </table>
  </div>
  <div class="row ml-2">
    <div class="mt-5 mb-3">
      <h4 class="mt-3 bg-info rounded p-1 text-white text-center">お支払い方法</h4>
        <h5 class="text-center"><%= @method_of_payment %></h5>
      <h4 class="mt-3 bg-info rounded p-1 text-white text-center">お届け先</h4>
        <h5 class="text-center"><%= @order_postal_code %> <%= @order_address %><br><%= @order_address_name %> 様</h5>
    </div>
  </div>

  <%= form_for(@order, url: members_orders_path, method: :post) do |f| %>
    <%= hidden_field_tag :address_status, @address_status %>
    <%= f.hidden_field :confirmed_purchase_price, :value => billing_amount %>
    <%= f.hidden_field :method_of_payment, :value => @method_of_payment %>
    <%= f.hidden_field :postal_code, :value => @order_postal_code %>
    <%= f.hidden_field :address, :value => @order_address %>
    <%= f.hidden_field :address_name, :value => @order_address_name %>
    <%= f.submit "購入確定",class: 'btn btn-success ml-4' %>
  <% end %>
</div>
