<div class="container" style="margin-top:50px;">
    <div class="row">
        <div>
            <h5 class="text-light bg-info">注文履歴一覧</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <table class="table">
            <thead>
                <tr style="background-color:#f8f8ff;">
                    <th>注文日</th>
                    <th>配送先</th>
                    <th>注文商品</th>
                    <th>支払い金額</th>
                    <th>ステータス</th>
                    <th>注文詳細</th>
                </tr>
            </thead>
            <tbody>
                <% @orders.each do |orders| %>
                <tr style="background-color:#ffffff;">
                    <td>
                        <%= orders.created_at %>
                    </td>
                    <td>
                        <%= orders.postal_code %><br>
                        <%= orders.address %><br>
                        <%= orders.address_name %>
                    </td>
                    <td>
                        <% orders.order_detail.each do |order_detail|%>
                        <%= order_detail.product.name %>
                        <% end%>
                    </td>
                    <td>
                        <%= orders.confirmed_purchase_price %>
                    </td>
                    <td>
                        <%= orders.order_status %>
                    </td>
                    <td>
                        <%= link_to '表示する',members_orders_path(orders),class: 'btn btn-primary' %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>