<div class="container" style="margin:4vw 50px 0;">
  <div class="row">
    <div class="col-2 text-center">
      <h5 class="bg-info text-white rounded p-1 mt-5">会員情報の編集</h5>
	</div>
  </div>
</div>
<div class="container mt-3">
		<%= form_for(@member, url:admins_member_path(@member.id)) do |f| %>
		<div class="row">
			<div class="col-2">会員ID</div>
			<div class="col-3 text-center">
				<%= @member.id %>
			</div>
		</div>
		<div class="form-row mt-3">
			<div class="col-2">
				<label for="inputName" class="col-form-label">氏名</label>
			</div>
			<div class="col-3">
				<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:"form-control", placeholder:"姓" %>
			</div>
			<div class="col-3">
				<%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-control", placeholder:"名" %>
			</div>
		</div>
		<div class="form-row mt-3">
			<div class="col-2">
				<label for="inputName" class="col-form-label">フリガナ</label>
			</div>
			<div class="col-3">
				<%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class:"form-control", placeholder:"セイ" %>
			</div>
			<div class="col-3">
				<%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class:"form-control", placeholder:"メイ" %>
			</div>
		</div>
		<div class="form-row mt-3">
			<div class="col-2">
				<label for="inputText" class="col-form-label">郵便番号</label>
			</div>
			<div class="col-3">
				<%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class:"form-control", placeholder:"1231234" %>
			</div>
		</div>
		<div class="form-row mt-3">
			<div class="col-2">
				<label for="inputText" class="col-form-label">住所</label>
			</div>
			<div class="col-3">
				<%= f.text_field :address, autofocus: true, autocomplete: "address", class:"form-control", placeholder:"日本" %>
			</div>
		</div>
		<div class="form-row mt-3">
			<div class="col-2">
				<label for="inputText" class="col-form-label">電話番号</label>
			</div>
			<div class="col-3">
				<%= f.text_field :telephone, autofocus: true, autocomplete: "telephone", class:"form-control", placeholder:"12312341234" %>
			</div>
		</div>
		<div class="form-row mt-3">
			<div class="col-2">
				<label for="inputEmail3" class="col-form-label">メールアドレス</label>
			</div>
			<div class="col-3">
				<%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"zoff@zoff" %>
			</div>
		</div>
		<div class="form-row mt-3">
			<div class="col-2">
				<legend class="col-form-label">会員ステータス</legend>
			</div>
			<div class="col-4 row">
				<div class="col">
					<div class="form-check">
						<%= f.radio_button :deleted_status, "Validity", cheaked:@deleted_status_Validity  %>
						<%= f.label :deleted_status, "有効" %>
					</div>
				</div>
				<div class="col">
				    <div class="form-check">
						<%= f.radio_button :deleted_status, "Invalid", cheaked:@deleted_status_Invalid %>
						<%= f.label :deleted_status, "退会済み" %>
      				</div>
				</div>
			</div>
		</div>
	<div class="row mt-3">
		<div class="col">
			<%= f.submit "変更を保存する", class:"btn link_font_color" %>
			<% end %>
   		</div>
	</div>
</div>
