<div class="container">
<div class="row">
  <h2>登録情報</h2>
  <%= form_for @member,url:members_member_path,method: :patch do |f| %>
  <%= render "devise/shared/error_messages", resource: @member %>
  <div class="field">
    <div class="col-md-2 text-left">名前</div>
    <div class="col-md-2 text-right"><%= f.label :last_name,"(姓)　"%></div>
    <div class="col-md-3 text-right"><%= f.text_field :last_name, autofocus: true ,style:"border-radius: 0.2em;",class:"col-md-12"%></div>
    <div class="col-md-2 text-right"><%= f.label :first_name,"(名)　"%></div>
    <div class="col-md-3 text-right"><%= f.text_field :first_name, autofocus: true,style:"border-radius: 0.2em;",class:"col-md-12"%></div>
   </div>

 <div class="field">
 <div class="row">
   <div class="col-md-2 text-left">フリガナ</div>
   <div class="col-md-2 text-right"><%= f.label :last_name_kana,"(セイ)" %></div>
   <div class="col-md-3 text-right"><%= f.text_field :last_name_kana, autofocus: true ,style:"border-radius: 0.2em",class:"col-md-12"%></div>
   <div class="col-md-2 text-right"><%= f.label :first_name_kana,"(メイ)" %></div>
   <div class="col-md-3 text-right"><%= f.text_field :first_name_kana, autofocus: true ,style:"border-radius: 0.2em",class:"col-md-12"%></div>
 </div>
 </div>

 <div class="field">
 <div class="row">
   <div class="col-md-4 text-left"><%= f.label :email,"メールアドレス"%></div>
   <div class="col-md-3 text-right"><%= f.email_field :email, autofocus: true,style:"border-radius: 0.2em;",class:"col-md-12" %></div>
   <div class="col-md-5"></div>
 </div>
 </div>

 <div class="field">
 <div class="row">
   <div class="col-md-4 text-left"><%= f.label :postal_code,"郵便番号(ハイフンなし)"%></div>
   <div class="col-md-3 text-right"><%= f.text_field :postal_code, autofocus: true, autocomplete: "email",style:"border-radius: 0.2em" ,class:"col-md-12"%></div>
   <div class="col-md-5"></div>
 </div>
 </div>

 <div class="field">
 <div class="row">
   <div class="col-md-4 text-left"><%= f.label :address,"住所"%></div>
   <div class="col-md-8 text-right input-xlarge"><%= f.text_field :address, autofocus: true, autocomplete: "email",style:"border-radius: 0.2em" ,class:"col-md-12"%></div>
 </div>
 </div>

 <div class="field">
 <div class="row">
   <div class="col-md-4 text-left"><%= f.label :telephone,"電話番号(ハイフンなし)"%></div>
   <div class="col-md-3 text-right"><%= f.text_field :telephone, autofocus: true, autocomplete: "email" ,style:"border-radius: 0.2em",class:"col-md-12"%></div>
   <div class="col-md-5"></div>
 </div>
 </div>

 <div class="field">
 <div class="row">
 <%= f.submit "編集内容を保存する",class:"btn btn-info col-3 mt-3" %>
 <%= link_to "退会する",members_withdrawal_path,class:"btn btn-warning col-3" %>
 <% end %>
 </div>
</div>
</div>
