<div>
  <%= notice %>
</div>
<h2>配送先編集</h2>
<% if @ShippingAddres.errors.any? %>
<div>
  <h3><%= @ShippingAddres.errors.count %> errors prohibited this ShippingAddres from being saved:</h3>
  <ul>
    <% @ShippingAddres.errors.full_messages.each do |mssage| %>
    <li><%= mssage %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= form_for(@ShippingAddres) do |f| %>
 <div class="field ">
  <%= f.label :郵便番号(ハイフンなし) %>
  <%= f.text_field :postal_code, class: "col-xs-12" %>
</div>

<div class="field ">
  <%= f.label :住所 %> <!-- ここを変更 -->
  <%= f.text_area :address, class: "col-xs-12" %>
</div>

<div class="field ">
  <%= f.label :宛先 %> <!-- ここを変更 -->
  <%= f.text_area :address_name, class: "col-xs-12" %>
</div>

<div class="actions ">
  <%= f.submit "編集する", class: "btn btn-primary col-xs-12" %>
 </div>
<% end %>
