<div class="container- mx-5 mt-5">
    <div class="row justify-content-center top-head">
        <div class="main-pic col-12 text-center p-0">
            <div class='naganocake-text-area'>
                <p>ようこそ、NaganoCakeへ!<br>
                    このサイトでは、ケーキ販売のECサイトになります。<br>
                    会員ではない方も商品の閲覧はできますが,<br>
                    購入には<%= link_to "会員登録",new_member_registration_path %>が必要になります。</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <h2 class="col-auto offset-3">オススメ商品</h2>
    </div>
    <div class='row'>
        <div class="col-3 mt-3">
            <%= render partial: 'layouts/genres_sidebar',locals: {genres:@genres} %>
        </div>
        <div class="col-9">
            <div class="row">
                <% @products.each do |products| %>
                <div class='col-4 mt-3 pl-3 d-inline-block'>
                    <%= attachment_image_tag(products, :product_image, size: '220x167',class: "img-thumbnail") %><br>
                    <%= link_to members_product_path(products.id) do %>
                    <%= products.product_name %>
                    <% end %>
                    <%= "¥#{products.price_excluding_tax}" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-10">
            <%= link_to "もっと見る>", members_products_path %>
        </div>
    </div>
</div>