<div class="container" style="margin:4vw 50px 0;">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4 text-center">
    	<% if flash[:notice] %>
			<p><%= flash[:notice] %></p>
		  <% end %>
      <h5 class="bg-info text-white rounded p-1 mt-5">商品一覧</h5>
	</div>
  </div>
</div>
<div class="row">
	<div class="col-9 text-right">
	<%= link_to new_admins_product_path  do %>
	  <i class="fas fa-plus-circle fa-2x product_new_icon" style="color: "></i>
	<% end %>
	</div>
</div>
<div class="continer">
  <div class="row justify-content-center mt-2">
    <table class="table table-bordered col-6 text-center">
    	<thead class="bg-info text-white">
			<tr>
				<th scope="col">商品ID</th>
				<th>商品名</th>
				<th>税抜価格</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody class="bg-light">
			<% @products.each do |product| %>
				<tr>
					<td><%= product.id %></td>
					<td><%= link_to product.product_name, admins_product_path(product), class:"link_font_color" %></td>
					<td><%= product.price_excluding_tax %></td>
					<td><%= product.sale_status_i18n %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
  </div>
</div>
