<div class="container" style="margin:4vw 50px 0;">
	<div class="row">
   		<div class="col-2 text-center">
   			<% if flash[:notice] %>
				<p><%= flash[:notice] %></p>
			<% end %>
     	 　　<h5 class="bg-info text-white rounded p-1 mt-5">商品詳細</h5>
     	</div>
	</div>
</div>

<div class="container" style="margin-top:50px;">
	<div class="row">
		<div class="col-md-4">
			<%= attachment_image_tag(@product, :product_image, :size =>'300x230') %>
		</div>

		<div class="col-md-5">
			<div class="row">
			    <span class="col-md-5">商品名</span>
				<span class="col-md-7"><%= @product.product_name %></span>
			</div><br>

			<div class="row">
				<span class="col-md-5">商品説明</span>
				<span class="col-md-7"><%= @product.description %></span>
			</div><br>

			<div class="row">
				<span class="col-md-5">ジャンル</span>
				<span class="col-md-7"><%= @product.genre_id %><br></span>
			</div><br>

			<div class="row">
				<span class="col-md-5">税込価格(税抜価格)</span>
				<span class="col-md-7"><%= @product.price_excluding_tax.to_s(:delimited) %>
					(<%= (@product.price_excluding_tax*1.1).to_i.to_s(:delimited) %>)円</span>
			</div><br>

			<div class="row">
				<span class="col-md-5">販売ステータス</span>
				<span class="col-md-7"><%= @product.sale_status_i18n %></span>
			</div><br>
		</div>

		<div class="col-md-12 text-right">
			<%= link_to "編集する",edit_admins_product_path(@product) ,class:"btn btn-primary btn-sm  mt-20"%>
		</div>
	</div>
</div>