<div class="container" style="margin:1vw 50px 0;">
  <div class="row">
    <div class="col-2 text-center">
      <h5 class="bg-info text-white rounded p-1 mt-5">注文履歴詳細</h5>
	</div>
  </div>
</div>
<div class="container mt-2">
	<table class="col-8 table table-bodered bg-light">
    <tr>
		  <th>購入者</th>
      <td>
			  <%= link_to "#{@order.member.last_name + @order.member.first_name}", admins_member_path(@order.member_id) %>
      </td>
    </tr>
    <tr>
      <th>配送先</th>
		  <td>
			  <%= "#{@order.postal_code + @order.address + @order.address_name}" %>
		  </td>
    </tr>
    <tr>
		  <th>支払方法</th>
		  <td>
			  <%= @order.method_of_payment_i18n %>
		  </td>
    </tr>
    <tr>
		  <th>支払いステータス</th>
		  <td>
			   <%= form_for(@order, url:admins_order_path(@order.id), method: :patch) do |f| %>
 		       <%= f.select :order_status, Order.order_statuses_i18n.invert,{} , {class:'form-control col-5', style:"display: inline-block;"} %>
      	   <%= f.submit "更新", class:"btn btn-secondary mx-2" %>
			   <% end %>
		  </td>
    </tr>
    </table>
	<div class="col-5"></div>
		<!-- ↑入り込み防止のcol-5 -->
	</div>

<div class="container mt-5">
   <table class="table table-bordered bg-light", style="table-layout:fixed;">
	   <thead>
		   <tr>
				 <th scope="col", style="width:50px;">商品名</th>
				 <th style="width:50px;">単価(税込)</th>
				 <th style="width:50px;">数量</th>
				 <th style="width:50px;">小計</th>
				 <th style="width:50px;">製作ステータス</th>
				</tr>
			</thead>
			<tbody>
        <% tax = 1.10 %>
			  <% @order_details.each do |order_details| %>
				<tr>
					<td><%= order_details.product.product_name %></td>
					<td><%= order_detail_price = (order_details.price * tax).to_i  %></td>
					<td><%= order_details.purchase_quantity %></td>
					<td><%= order_detail_price * order_details.purchase_quantity %></td>
          <td>
			     	 <%= form_for(order_details,url:admins_order_detail_path(order_details.id), method: :PATCH) do |f| %>
			     	 <%= f.select :production_status, OrderDetail.production_statuses_i18n.invert, {}, {class:'form-control'} %>
             <%= f.submit "更新" ,class: "btn btn-secondary mt-1" %>
				     <% end %>
          </td>
        </tr>
			  <% end %>
			</tbody>
	  </table>
		<table class="col-5 table table-bordered bg-light">
      <tr>
			  <th style="80px;">商品合計</th>
			  <td>
				  <%= @order.confirmed_purchase_price %>
			  </td>
      </tr>
      <tr>
			  <th style="80px;">送料</th>
			  <td>
				  <%= @order.shipping_free %>
			  </td>
      </tr>
      <tr>
        <th style="80px;">請求金額合計</th>
			  <td>
				  <%= @order.shipping_free + @order.confirmed_purchase_price %>
			  </td>
	    </tr>
   </table>
</div>
